/* Margin & Position */
.class-card {
    margin-bottom: 1rem!important;
    position: relative;
}

/* Rounded Corners */
.class-card img {
    border-top-left-radius: .5rem!important;
    border-top-right-radius: .5rem!important;
}

.class-card > div {
    border-bottom-left-radius: .5rem!important;
    border-bottom-right-radius: .5rem!important;
}

/* Card Orientation */
@media (min-width: 576px) and (orientation: portrait), (min-width: 576px) and (orientation: landscape){
    .class-card { flex-direction: row!important; }
    
    .class-card img {
        border-top-left-radius: .5rem!important;
        border-bottom-left-radius: .5rem!important;
        border-top-right-radius: 0rem!important;
        width: 360px!important;
    }

     .class-card > div:first-of-type {
        border-bottom-left-radius: 0rem!important;
        border-bottom-right-radius: .5rem!important;
        border-top-right-radius: .5rem!important;
        width: 250px!important;
     }
}